<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>You've added a new Job!</h1>
    <ul>
      <li>@Model.GetDescription()</li>
      <li>@Model.GetTitle()</li>
    </ul>
    <p><a href="/">Add another Job</a></p>
    <p><a href="/view_all_jobs">View current Jobs</a></p>
  </body>
</html>
